body{box-sizing: ;}
section.A{background-color: #1F2937;
padding: 60px 60px 80px 60px;}
h1{font-size: 24px;
color: #f9faf8;}
img.header-logo{max-width: 250px;
min-width: 150px;
max-height: 250px;
min-height: 150px;}
span.intro{font-size: 48px;
font-weight: bolder;
color: #f9faf8;  }
p.info{font-size: 18px;
color: #E5E7EB;}
a.one{background-color: blue;
padding: 10px;
border-radius: 5px;
color: #E5E7EB;
text-decoration: none;}

img.logo-2{max-width: 300px;
min-width: 200px;
max-height: 250px;
min-height: 150px;}
li{display: inline-block;}
div.links{position: absolute;
    left: 850px;
    bottom:450px}
    a{color: #E5E7EB;
    text-decoration: none;}
    div.free{position: absolute;
        left: 850px;
    bottom:150px}
    